html {
    background-color: lightgray;
}

header {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: white;
    background-color: black;
    width: 100vw;
}

.search {
    display: flex;
}
#search, #hex-search {
    height: 3em;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    color:black;
    padding-top: 25px;
    letter-spacing: 3px;
    
}


#search-btn, #submit-btn {
    height: 4.5rem;
    width: 4.5rem;
    margin-left: 0.5rem;
}

#color-search {
    margin-top: 325px;
}

.hero-element {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 75px;
    font-weight: 500;
    font-style: italic;
    text-shadow: 2px 2px #A9A9A9;
    display: flex;
    justify-content: center;
    margin: 100px;
    color: #cfffe5;

}

/* image panel fill in */
#image-panel {
    margin-left: 3vw;
        /* Prevent vertical gaps */
    line-height: 0;
         
    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px;  
      

    /* Just in case there are inline attributes */
    width: 100%;
    height: 100%;
      
}

#color-themes {
    margin-top: 2rem;
}

#linked-in {
    margin-left: 2rem;
}

@media (max-width: 1200px) {
    #image-panel {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 1000px) {
    #image-panel {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 800px) {
    #image-panel {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  }

  img {
      object-fit: cover;

  }
